
body{
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px;
}

header{
    background-color: rgb(50, 50, 50);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#title{
    flex-direction: column;
    line-height: 15px;
}

li{
    display: inline-block;
    margin: 20px;
}

#Responda-btn{
    border: solid 2px rgb(255, 0, 0);
    padding: 10px;
    border-radius: 10px;
}

#Responda-btn:hover{
    background-color: rgb(255, 0, 0);
    color: white;
}

a{
    color: white;
}

a:hover{
    color: rgb(255, 0, 0);
    transition: 0.3s all;
}

main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    text-align: justify;
    
    
}

#personagens{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
    padding: 20px;
    
}

p{
    line-height: 20px;
    max-width: 1000px;
    font-family: poppinslight;
    text-align: justify;
}

h3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px; 
    font-family: poppinsmedium;
    font-size: 50px;
    color: red;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: poppinsbold;
    border-radius: 10px;
}

